@font-face
{
    font-family: 'roboto';
    src: url(/Fonts/Roboto/Roboto-Regular.ttf);
}

main
{
    width:900px;
    margin:auto;
    font-family: 'roboto', sans-serif;
}

header
{
    display:flex;
    justify-content: space-between;
    height: 75px;
    margin-bottom: 5px;
}

nav
{
    height: 75px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

nav a
{
    text-decoration: none;
    padding:10px;
}

#article_cover
{
    height:350px;
    background-image: url(/Images/backgroung_image.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
}

#article_cover .logo
{
    height: 50px;
    margin-top:150px;
}

#article_cover h1
{
    font-size: 1.4em;
    color: white;
}

#article_content
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#article_intro
{
    width:700px;
    text-align: center;
    margin-top:50px;
    color:grey;
    font-size: 1.2em;
}

#article_atouts
{
    width:700px;
    text-align: center;
    display: flex;
    margin-top: 50px;
}

#article_atouts h2
{
    font-size:1.2em;
}

#article_atouts p
{
    font-size: 0.8em;
    padding: 0 20px;
}

#atout1, #atout2
{
    flex: 1.5;
}

#atout3
{
    flex:1;
}

#article_quote
{
    width:600px;
    color:grey;
    font-size: 1.2em;
    text-align: center;
    margin-top:40px;
}

#article_quote figcaption
{
    font-size: 0.6em;
}